/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.11.2019, 17:01:33
    Author     : Eric
*/

body {
    
    background-color: darkgray;
}

p {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

footer {
    background-image: url("#{resource['img:background.gif']}");
    margin: 0px 0px 0px 0px;
    /*margin-bottom: 0px; */
}

#menu {
    width:1000px;
    float:left;
}

#logout {
    position:relative;
    left:800px;
    top:-2.6em;
    
    width:200px;
    height:70px;
    
}

#header {
    position:relative;
    margin-left: 0px;
    margin-top: 0px;
}

#questions {
    margin-left: 33%;
    font-size: 1.5em;
    /*width: 60%; */
    background-color: white;
    border-radius: 5px;
    width: fit-content;
}


#quizzes {
    font-size: 1.3em;
    border: 5px;
    left: 10%;
    width: 90%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    
}

h1 {
    margin-top: -1em;
    max-width: 40%;
    width: fit-content;
    background-color:crimson;
    margin-left: 33%;
    font-family: "Arial Black", sans-serif;
}

.question {
    background-color: white;
    font-family: "Arial", sans-serif;
    width: fit-content;
    border-radius: 5px;
}
/* header {
    position:relative;
    margin-left: 15%;
    margin-top:0%;
}

#logo {
    position:relative;
    margin-left:20%;
    margin-top:0%;
} */

